@import url('https://fonts.googleapis.com/css?family=Montserrat');
body, html {
  margin: 0;
}

html {
  height:100%;
  width: 100%;
}

body {
  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto 100px;
    grid-template-areas:
    "nav"
    "content"
    "footer";

    display: -ms-grid;  /* Support for MS Edge */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 50px auto 100px;

    min-height:100%;
}

nav {
  grid-area: nav;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  background: white;
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


}



nav a {
  display: inline-block;
  color: rgb(255, 167,0);
  text-decoration: none;
  height: 50px;
  margin-right: 20px;
  font-size: 30px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  font-weight: bold;
  /* font-family: 'Montserrat', sans-serif; */
}

#content {
  grid-area: content;
  -ms-grid-column: 1;
  -ms-grid-row: 2;
  background: rgb(255, 167,0);
  .button {
  background-color: white;
  border: none;
  color: rgb(255, 167,0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

}

footer {
  grid-area: footer;
  -ms-grid-column: 1;
  -ms-grid-row: 3;
  background: rgb(255, 167,0);
}
