body, html {
  margin: 0;
}

html {
  height:100%;
  width: 100%;
}

body {
  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: "header""nav""content""footer";

    display: -ms-grid;  /* Support for MS Edge */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 100px 100px auto 100px;
}

header {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  background: lightgrey;
}

nav {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
  background: grey;
}

nav a {
  display: inline-block;
  color: black;
  text-decoration: none;
  height: 50px;
  margin-right: 20px;
  font-size: 40px;
}

#content {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
}

footer {
  -ms-grid-column: 1;
  -ms-grid-row: 4;
  background: darkgrey;
}
